*.xcworkspacedata
*.xcuserstate
PORTFOLIO.xcodeproj/project.xcworkspace/xcshareddata
PORTFOLIO.xcodeproj/project.xcworkspace/xcuserdata
xcschememanagement.plist
Breakpoints_v2.xcbkptlist
PORTFOLIO.xcscheme
